*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  }

  body{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url(pics/home.png);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    background-attachment: fixed;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  a:hover {
    color: #FC46AA
  }

  /* logocenter */
  .logocenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 280px;
  }

  .logocenter img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 992px) {
    .logocenter {
        margin-top: 150px;
    }

    .logocenter img {
        max-width: 70%;
    }
}

  /* container */
  .home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.box1 {
    margin: 10px;
    flex: 1 1 300px; /* Adjust the base width here */
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.box1:hover {
    transform: scale(1.05);
}

.box1 img {
    width: 100%;
    height: 75%;
    display: block;
}

.box1 h2, .box1 h3 {
    text-align: center;
}

h2 {
    margin-top: 10px;
    font-size: 24px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .box1 {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .box1 {
        flex: 1 1 100%;
    }
}
  


  /* Nav */

  nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: relative;
    height: 70px;
}

.logo{
    color: #fff;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width:600px) {
  nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      text-align: center;
      background: #FC46AA;
      gap: 0;
      overflow: hidden;
  }
  nav ul li{
      padding: 20px;
      padding-top: 0;
  }
  .menu-icon{
      display: block;
  }
  #menuList{
      transition: all 0.5s;
  }
}


  /* DROPPY */
  
  
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rbga(255, 255, 255.0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .dropdown_menu .open {
    height: 240px;
  }

  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60vh;


  }
  .container .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 500px;
  }

  @media (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
  

   /* Footer */

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  footer img {
    width: 100px;
    height: auto;
    margin-right: 10px;
  }
  .contact-details {
    text-align: center;
    flex-grow: 1;
  }
  .contact-details p {
    margin: 5px 0;
  }
  .contact-details h4 {
    margin-bottom: 10px;
  }
  .contact-details p:last-child {
    margin-bottom: 0;
  }
  .contact-details address {
    font-style: normal;
  }
  .contact-details a {
    color: #fff;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
    footer img {
      margin: 10px auto;
    }
    .contact-details {
      order: 3;
    }
  }







  /* Where to go */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.airplane-icon {
  width: 30px; 
  height: auto; 
  margin-right: 10px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

.airline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.airplane-icon {
  width: 30px;
  height: auto;
  margin-right: 10px;
}



@media (min-width: 768px) {
    .container2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column {
        flex: 0 0 48%;
    }
}



/* BUS CONTAINER*/
 
.container2, .bus-lines-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
}

.airline {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.airline img {
  max-width: 150px;
  margin-right: 20px;
}

.airline p {
  margin: 0;
}

.airline a {
  color: #007bff;
  text-decoration: none;
}

.airline a:hover {
  text-decoration: underline;
}

.schedule {
  margin-bottom: 40px;
}

.schedule h3 {
  color: #007bff;
}

.schedule p a {
  color: #007bff;
  text-decoration: none;
}

.schedule p a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f1f8ff;
  color: #007bff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.bus-lines-container h2 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.bus-lines-container h2 img {
  margin-right: 10px;
  max-width: 30px;
}




/* Sign in, */


.container3{
  background:#fff;
  width:450px;
  padding:1.5rem;
  margin:50px auto;
  border-radius:10px;
  box-shadow:0 20px 35px rgba(0,0,1,0.9);
}
form{
  margin:0 2rem;
}
.form-title{
  font-size:1.5rem;
  font-weight:bold;
  text-align:center;
  padding:1.3rem;
  margin-bottom:0.4rem;
}
input{
  color:inherit;
  width:100%;
  background-color:transparent;
  border:none;
  border-bottom:1px solid #757575;
  padding-left:1.5rem;
  font-size:15px;
}
.input-group{
  padding:1% 0;
  position:relative;

}
.input-group i{
  position:absolute;
  color:black;
}
input:focus{
  background-color: transparent;
  outline:transparent;
  border-bottom:2px solid hsl(327,90%,28%);
}
input::placeholder{
  color:transparent;
}
label{
  color:#757575;
  position:relative;
  left:1.2em;
  top:-1.3em;
  cursor:auto;
  transition:0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
  top:-3em;
  color:hsl(327,90%,28%);
  font-size:15px;
}
.recover{
  text-align:right;
  font-size:1rem;
  margin-bottom:1rem;

}
.recover a{
  text-decoration:none;
  color:rgb(125,125,235);
}
.recover a:hover{
  color:blue;
  text-decoration:underline;
}
button{
  font-size:1.1rem;
  padding:8px 0;
  border-radius:5px;
  outline:none;
  border:none;
  width:100%;
  background:rgb(125,125,235);
  color:white;
  cursor:pointer;
  transition:0.9s;
}
button:hover{
  background:#07001f;
}
.or{
  font-size:1.1rem;
  margin-top:0.5rem;
  text-align:center;
}



.links{
  display:flex;
  justify-content:space-around;
  padding:0 4rem;
  margin-top:0.9rem;
  font-weight:bold;
}
#signUpButton, #signInButton{
  color:rgb(125,125,235);
  border:none;
  background-color:transparent;
  font-size:1rem;
  font-weight:bold;
}
#signUpButton:hover, #signInButton:hover {
  text-decoration:underline;
  color:blue;
} 
.messageDiv{
  background-color:hsl(327,90%,28%);
  color:white;
  padding:10px 20px;
  margin:10px;
  border-radius: 5px;
  font-size:1rem;
  opacity:0;
  animation:fadeOut 7s forwards;

}
